table {
   border: 1px solid black;
   border-collapse: collapse;
   background-color: pink;

}
table td {
   text-transform: uppercase 
   border: 1px solid black;
   padding: 5px;
   color: darkred;
}
td.inny_wyglad {
   background-color: orange;
   vertical-align: top;
   font-weight: bold;
   color: darkred;
}
table thead {
   vertical-align: top;
   font-weight: bold;
   color: black;
   text-transform: uppercase 
}
